div {
    width: 180px; /*Ancho inicial*/
    height: 90px;
    COLOR:YELLOW;
    
    background: rgb(77, 5, 202);
    /*
    transition-property: width;
    transition-duration: 3s;
    */    
    /* Atajo: Transiciones */
    transition: width 7s; 
}

div:hover {
    width: 900px; /*Ancho al que quiero llegar*/
}

a {
    height: 90%;
    color:rgb(173, 173, 39);
    /*text-decoration: none;  para sacar el subrayado a los links */
    margin-left: 1%;
}


p{
    color: #e4f404;
    font-weight: bold;
    text-emphasis-color: #e4f404;
    text-align: left;
    font-size:2.5vw;
}
